<%- include('partials/header') %>

    <video class="remote-video" autoplay></video>
    <input type="text" id="connect-to-peer" />
    <button onclick="connectToPeer()">
        Connect
    </button>

    <div class="messages">

    </div>

    <footer>Made with <a href="https://glitch.com">Glitch</a>!</footer>

    <!-- include the Glitch button to show what the webpage is about and
          to make it easier for folks to view source and remix -->
    <div class="glitchButton" style="position:fixed;top:2em;right:20px;"></div>
    <script src="https://button.glitch.me/button.js" defer></script>

    <%- include('partials/footer') %>