<!-- This is a static file -->
<!-- served from your routes in server.js -->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="A cool thing made with Glitch">

    <title>VideoTalk!</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css"
        integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
    <link rel="stylesheet" href="/style.css">
    <script src="/lib/peerjs.js"></script>
    <!-- https://unpkg.com/peerjs@1.4.7/dist/peerjs.min.js -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="/main.js" type="module" defer></script>
</head>

<body>
    <video class="remote-video" autoplay></video>
    <center>
        <input placeholder="📹 Paste connection ID..." type="text" id="connect-to-peer" />
        <button type="button" class="btn connectbtn btn-success" onclick="connectToPeer()">
            Connect
        </button>
    </center>

    <div class="messages">
    </div>
    <h3>Registered User</h3>
    <div class="userHolder">
        <center>
            <table id="display"></table>

        </center>
    </div>
    <%- include('partials/footer') %>