body {
    font-family: sans-serif;
    background-color: antiquewhite;
}

h1 {
    font-style: italic;
    color: black;
    max-width: calc(100% - 5rem);
    line-height: 1.1;
}

form {
    background-color: #eee;
    display: grid;
    grid-gap: 1em;
    padding: 1em;
    /* max-width: 40ch; */
}

input {
    border: 1px solid silver;
    display: block;
    font-size: 16px;
    margin-bottom: 10px;
    padding: 5px;
    width: 100%;
}

form button {
    background-color: #bbbbf2;
    border: 2px solid currentColor;
    border-radius: .25em;
    cursor: pointer;
    font-size: inherit;
    line-height: 1.4em;
    padding: 0.25em 1em;
    max-width: 20ch;
}

form button:hover {
    background-color: lavender;
}

footer {
    margin-top: 3em;
    padding-top: 1.5em;
    border-top: 1px solid lightgrey;
}

.messages {
    background-color: black;
    width: 70%;
    padding: 8px;
    border-radius: 23px;
    color: whitesmoke;
    margin-bottom: 100px;
}

h3 {
    color: #666;
}

.userHolder {
    height: 300px;
    width: 100%;
    overflow-y: scroll;
    overflow-x: scroll;
}

.navbar-brand b {
    color: rgb(94, 108, 175);
}




#videoElement {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

video {
    background-color: #666;
    max-width: 100%;
}

#myCam {
    margin-top: 10px;
    text-align: center;
}

#endCall {
    margin: 30px;
}

table {
    width: 100%;
}

#connect-to-peer {
    border-radius: 23px;
    width: 60%;
    display: inline;
}

.connectbtn {
    display: inline;
    border-radius: 23px;
}

#display td,
#display th {
    border: 1px solid #ddd;
    padding: 8px;
    color: black;
}

#display tr:nth-child(even) {
    background-color: #f2f2f2;
}


#display th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: #04AA6D;
    color: white;
}

b {
    color: black;
}